body {
    background-color: black;
}

#stats {
    text-align: center;
    font-weight: bolder;
    margin: 10px;
    font-size: 2rem;
}

.card-img-top {
    padding-top: 10px;
}

.card-deck {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.card-title {
    text-align: center;
}